@import url("https://fonts.googleapis.com/css2?family=Russo+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
html {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu Condensed', sans-serif;
  overflow-x: hidden;
  font-size: 62.5%;
}

@media screen and (max-width: 875px) {
  html {
    font-size: 52%;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 41.6%;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #333333;
  box-shadow: inset 0 0 10px black;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #666666;
  transition: background-color 5s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #38A0FF;
}

h1, h2, p, li, a, img, .desc {
  color: #dddddd;
  text-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  transition: color .5s;
}

h1::selection, h2::selection, p::selection, li::selection, a::selection, img::selection, .desc::selection {
  color: #333333;
  background-color: #ff8c00;
}

p, li, a {
  font-size: 2.4rem;
}

p, li {
  letter-spacing: .1rem;
  line-height: 150%;
}

body {
  background-color: #333333;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

div {
  transition: background-color .5s;
}

h1 {
  font-size: 4rem;
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
  letter-spacing: .5rem;
  line-height: 150%;
}

@media screen and (max-width: 575px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 2.4rem;
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 150%;
}

@media screen and (max-width: 575px) {
  h2 {
    font-size: 2rem;
  }
}

p {
  text-indent: 2rem;
  font-family: "Ubuntu Condensed", sans-serif;
}

ul {
  list-style-type: square;
  margin: 0 4rem;
}

li {
  font-family: "Ubuntu Condensed", sans-serif;
}

a {
  color: #ff8c00;
  text-decoration: none;
  text-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}

a:focus {
  border: none;
}

img {
  transform: scale(1.2) translate(0%, 5%);
  transition: transform .1s;
  object-fit: cover;
  cursor: pointer;
}

hr {
  width: 100%;
  box-sizing: border-box;
  padding: 3rem 0;
  background-color: #333333;
  margin: 0;
  border: none;
}

#darkenFilter {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  width: inherit;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

#headerSlider {
  width: 100vw;
  height: 100vh;
}

#headerSlider #logoCoverBlock .logoCover {
  cursor: pointer;
}

#headerSlider #logoCoverBlock .logoCover .logoSvg {
  width: 40vw;
}

@media screen and (max-width: 875px) {
  #headerSlider #logoCoverBlock .logoCover .logoSvg {
    width: 70vw;
  }
}

#headerSmallerSlider {
  width: 100vw;
  height: 40vh;
}

#headerSmallerSlider #logoCoverBlock .logoSvg {
  width: 25vw;
}

@media screen and (max-width: 875px) {
  #headerSmallerSlider .logoCover .logoSvg {
    display: none;
  }
}

#headerSlider, #headerSmallerSlider {
  display: flex;
  position: relative;
  margin: 0;
  overflow: hidden;
  z-index: 0;
}

#headerSlider #headerSlideBlock, #headerSmallerSlider #headerSlideBlock {
  position: absolute;
  width: inherit;
  height: inherit;
}

#headerSlider #headerSlideBlock #logoCoverBlock, #headerSmallerSlider #headerSlideBlock #logoCoverBlock {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#headerSlider #headerSlideBlock #logoCoverBlock .logoSvg, #headerSmallerSlider #headerSlideBlock #logoCoverBlock .logoSvg {
  position: relative;
  mix-blend-mode: screen;
  padding: 4vh 5vw;
  stroke: #ffffff;
  fill: #ffffff;
  clip-path: padding-box;
  z-index: 100;
  transform: scale(1, 1);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: stroke 1s, fill 1s, background 1s, transform 1s, box-shadow 1s;
}

#headerSlider #headerSlideBlock #logoCoverBlock .logoSvg:hover, #headerSmallerSlider #headerSlideBlock #logoCoverBlock .logoSvg:hover {
  transform: scale(1.03, 1);
  background-color: #ffffff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);
  stroke: #000000;
  fill: #000000;
}

#headerSlider #headerSlideBlock #logoCoverBlock .logoSvg polygon, #headerSlider #headerSlideBlock #logoCoverBlock .logoSvg path, #headerSlider #headerSlideBlock #logoCoverBlock .logoSvg rect, #headerSmallerSlider #headerSlideBlock #logoCoverBlock .logoSvg polygon, #headerSmallerSlider #headerSlideBlock #logoCoverBlock .logoSvg path, #headerSmallerSlider #headerSlideBlock #logoCoverBlock .logoSvg rect {
  box-shadow: 0 30px 50px black;
  text-shadow: 0 30px 50px black;
}

#headerSlider #headerSlideBlock .sliderBox, #headerSmallerSlider #headerSlideBlock .sliderBox {
  margin: 0;
  padding: 0;
  width: inherit;
  height: inherit;
  list-style-type: none;
}

#headerSlider #headerSlideBlock .sliderBox .imgBox, #headerSmallerSlider #headerSlideBlock .sliderBox .imgBox {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  opacity: 0;
  z-index: 1;
  font-size: 4rem;
  color: #ffffff;
  background: #333333;
  -webkit-transition: opacity 8s, transform 1s;
  -moz-transition: opacity 8s, transform 1s;
  -o-transition: opacity 8s, transform 1s;
  transition: opacity 8s, transform 1s;
}

#headerSlider #headerSlideBlock .sliderBox .imgBox img, #headerSmallerSlider #headerSlideBlock .sliderBox .imgBox img {
  transform: scale(1.2) translate(0%, 5%);
  width: inherit;
  height: inherit;
}

#headerSlider #headerSlideBlock .sliderBox .showing, #headerSmallerSlider #headerSlideBlock .sliderBox .showing {
  opacity: 1;
  z-index: 2;
}

#logoImgBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  padding: 5% 20%;
  z-index: 3;
  width: 100%;
}

@media screen and (max-width: 875px) {
  #logoImgBlock {
    padding: 5% 10%;
  }
}

#arrowDownBox {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 0;
  bottom: 3rem;
  z-index: 4;
}

#arrowDownBox #arrowParent {
  width: 6rem;
  display: block;
  transform: scale(1);
  transition: transform 1s;
}

#arrowDownBox #arrowParent:hover {
  transform: scale(1.2);
}

#arrowDownBox #arrowParent #arrowDown {
  stroke: #ffffff;
  fill: #ffffff;
}

.menuBar {
  position: fixed;
  top: -50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5);
}

.menuBar .menu {
  background-color: #222222;
}

.menuBarSecond {
  position: absolute;
  top: 0;
}

.menuBarSecond .menu {
  background-color: transparent;
}

.menuBarSecond, .menuBar {
  padding: 0;
  margin: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  z-index: 4;
  letter-spacing: 0.5rem;
  transform: scale(1);
  transition: transform 1s, top 1s, opacity 1s, box-shadow 1s;
}

.menuBarSecond .menu, .menuBar .menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  transition: background 1s opacity 1s;
}

.menuBarSecond a, .menuBar a {
  display: flex;
  justify-content: center;
  font-family: "Russo One", sans-serif;
  margin: 0;
  padding: 1rem 3vw;
  letter-spacing: .6rem;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  transition: color .5s, background-color .5s, opacity .5s;
}

.menuBarSecond a:hover, .menuBar a:hover {
  color: #000000;
  background-color: white;
}

.menuBarSecond .menuLink, .menuBar .menuLink {
  transition: background 2s, transform 1s;
}

.menuBarSecond .menuLink:hover, .menuBar .menuLink:hover {
  transform: scaleX(1.05);
}

.menuBarSecond .menuLink p, .menuBar .menuLink p {
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-family: "Russo One", sans-serif;
  margin: 0;
  padding: 1rem 3vw;
  letter-spacing: .6rem;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  transition: color .5s, background-color .5s, opacity .5s;
}

.menuBarSecond .menuLink p:hover, .menuBar .menuLink p:hover {
  color: #000000;
  background-color: white;
}

.menuBarSecond .menuLink p:hover::before, .menuBar .menuLink p:hover::before {
  border-top: 0.5rem solid #000000;
}

.menuBarSecond .menuLink p::before, .menuBar .menuLink p::before {
  content: '';
  position: relative;
  right: 1rem;
  top: 1.1rem;
  border: .5rem solid transparent;
  border-top: 0.5rem solid #ffffff;
  transition: border .5s;
}

.menuBarSecond .menuLink .activeList, .menuBar .menuLink .activeList {
  background-color: #38a0ff;
}

.menuBarSecond .menuLink .subMenu, .menuBar .menuLink .subMenu {
  position: relative;
  top: 0;
  height: 0;
  width: auto;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
}

.menuBarSecond .menuLink .subMenu .subMenuLink, .menuBar .menuLink .subMenu .subMenuLink {
  background-color: #222222;
  width: auto;
}

.menuBarSecond .menuLink .subMenu .subMenuLink a, .menuBar .menuLink .subMenu .subMenuLink a {
  padding: 1rem;
}

.menuBarSecond a, .menuBarSecond p, .menuBarSecond li, .menuBar a, .menuBar p, .menuBar li {
  font-size: 2rem;
}

.menuButtonsStatic, .menuButtonsFixed {
  display: block;
  flex-direction: row;
  justify-content: flex-end;
  height: 3rem;
  width: auto;
  right: 0;
  z-index: 10;
}

@media screen and (max-width: 875px) {
  .menuButtonsStatic, .menuButtonsFixed {
    top: calc( 100% - 3rem);
  }
}

.menuButtonsStatic {
  position: absolute;
  top: 0;
}

.menuButtonsFixed {
  position: fixed;
  top: -4rem;
  transition: top 1s;
}

.theme, .translate {
  display: inline-block;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  padding: 1rem 2rem;
  margin: 0;
  fill: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  transition: .5s;
}

.theme:hover, .translate:hover {
  fill: black;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: scaleX(1.05);
}

#page {
  transition: filter 1s;
}

.block-light {
  background-color: #333333;
  padding: 4rem 10rem 4rem 10rem;
}

@media screen and (max-width: 875px) {
  .block-light {
    padding: 4rem 2rem 4rem 2rem;
  }
}

.block-light h1 {
  margin: 0 0 1rem 0;
  text-align: center;
}

.block-light .text {
  display: flex;
  margin: 0 10rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 875px) {
  .block-light .text {
    margin: 0 2rem;
  }
}

.block-light .text p {
  margin: 1rem 10rem;
}

@media screen and (max-width: 875px) {
  .block-light .text p {
    margin: 1rem 2rem;
  }
}

.block-light .columns {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.block-light .columns p, .block-light .columns h1, .block-light .columns h2 {
  width: auto;
}

.block-light .columns p:nth-child(n), .block-light .columns h1:nth-child(n), .block-light .columns h2:nth-child(n) {
  margin: 1rem 10rem;
}

@media screen and (max-width: 875px) {
  .block-light .columns p:nth-child(n), .block-light .columns h1:nth-child(n), .block-light .columns h2:nth-child(n) {
    margin: 1rem 2rem;
  }
}

.block-light .stats p {
  margin: 0;
}

.block-panorama {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 875px) {
  .block-panorama {
    height: 60vh;
  }
}

.block-with-image {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.block-with-image {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.block-with-image:nth-child(odd) .textBox {
  order: 2;
}

.block-with-image:nth-child(odd) .sliderBorder {
  order: 1;
}

.block-with-image:nth-child(odd) .imgBox .desc {
  text-align: left;
  left: 2rem;
}

@media screen and (max-width: 875px) {
  .block-with-image {
    flex-direction: column;
    width: 100vw;
  }
}

.block-with-image .textBox {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  width: 50%;
  padding: 7vw 0;
  background-color: #444444;
  order: 1;
}

@media screen and (max-width: 875px) {
  .block-with-image .textBox {
    width: 100%;
    order: 2;
  }
}

.block-with-image .textBox .text {
  width: 80%;
}

.block-with-image .textBox .text h1 {
  margin: 0 0 1rem 0;
}

@media screen and (max-width: 875px) {
  .block-with-image .textBox .text h1 {
    text-align: center;
  }
}

.block-with-image .textBox .text p {
  margin: 0 0 1rem 0;
}

.block-with-image .sliderBorder {
  position: relative;
  display: block;
  width: 50%;
  height: inherit;
  min-height: 30rem;
  order: 2;
  overflow: hidden;
}

@media screen and (max-width: 875px) {
  .block-with-image .sliderBorder {
    width: 100%;
    order: 1;
  }
}

.block-with-image .sliderBorder .sliderSmallBox {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  list-style-type: none;
  overflow: hidden;
}

.block-with-image .sliderBorder .sliderSmallBox .imgBox {
  position: absolute;
  width: inherit;
  height: inherit;
  opacity: 0;
  -webkit-transition: opacity 5s;
  -moz-transition: opacity 5s;
  -o-transition: opacity 5s;
  transition: opacity 5s;
}

.block-with-image .sliderBorder .sliderSmallBox .showing {
  opacity: 1;
  z-index: 2;
}

.block-with-image .sliderBorder .sliderSmallBox .innerShadow {
  position: absolute;
  width: inherit;
  height: inherit;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
}

.block-with-image .box, .block-with-image .sliderSmallBox, .block-with-image .imgBox {
  display: flex;
  justify-content: center;
  left: inherit;
  top: inherit;
  margin: 0;
  padding: 0;
  width: inherit;
  height: inherit;
  z-index: 1;
  font-size: 4rem;
  box-sizing: border-box;
  background: #333333;
  color: #ffffff;
  overflow: hidden;
}

.block-with-image .box:hover > .imgBox .desc, .block-with-image .sliderSmallBox:hover > .imgBox .desc, .block-with-image .imgBox:hover > .imgBox .desc {
  bottom: 1rem;
}

.block-with-image .box img, .block-with-image .sliderSmallBox img, .block-with-image .imgBox img {
  width: inherit;
  height: inherit;
}

.block-with-image .box .desc, .block-with-image .sliderSmallBox .desc, .block-with-image .imgBox .desc {
  display: block;
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
  text-align: right;
  align-self: end;
  position: absolute;
  width: inherit;
  bottom: -3rem;
  left: -2rem;
  text-shadow: 0 0 10px #000000;
  font-size: 1.8rem;
  transition: bottom 1s;
}

.button, .buttonBig {
  display: inline-block;
  color: #38A0FF;
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
  letter-spacing: .6rem;
  word-spacing: 1rem;
  font-weight: bold;
  margin: 0 2rem 0 -2rem;
  padding: 1rem 2rem;
  transform: scale(1, 1);
  background-color: rgba(56, 160, 255, 0);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
  transition: color .5s, background .5s, box-shadow .5s, transform 1s, text-shadow .5s;
}

.button:hover, .buttonBig:hover {
  color: #333333;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  background-color: #38A0FF;
  transform: scale(1.05, 1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.buttonBig {
  font-size: 4rem;
  margin: 0;
  padding: 3rem;
}

.block-comp {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

@media screen and (max-width: 875px) {
  .block-comp {
    height: 70vh;
  }
}

.compareBox {
  height: inherit;
}

.compareSlide {
  cursor: pointer;
  width: 100%;
  height: inherit;
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  z-index: 3;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  outline: none;
}

.compareSlide::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 80vh;
  opacity: 1;
  background: #fff;
  cursor: pointer;
}

@media screen and (max-width: 875px) {
  .compareSlide::-webkit-slider-thumb {
    height: 60vh;
  }
}

.imgCompare {
  position: absolute;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  height: inherit;
  display: flex;
  justify-content: flex-start;
  transition: max-width .1s;
  z-index: -1;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.imgCompare img {
  object-fit: none;
  min-width: 100vw;
  height: inherit;
}

#fullScreenBlock {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  isolation: isolate;
}

#fullScreenBlock #fullScreenImg {
  position: relative;
  max-width: 85%;
  max-height: 85%;
  top: -8%;
  object-fit: cover;
  box-shadow: 0 0 100px black, 0 0 100px black;
}

#fullScreenBlock #closeZoom {
  cursor: pointer;
  position: absolute;
  right: 5rem;
  top: 5rem;
  padding: 1rem;
  fill: #ffffff;
  width: 5rem;
  height: 5rem;
  transition: .5s;
}

#fullScreenBlock #closeZoom:hover {
  background-color: #ff8c00;
  fill: #000000;
  box-shadow: 0 0 20px black;
}

#fullScreenBlock #fullScreenText {
  display: block;
  box-sizing: border-box;
  text-indent: 0;
  text-align: center;
  position: absolute;
  bottom: 3%;
  text-shadow: 0 0 10px black;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: .5s;
}

#fullScreenBlock #help {
  display: none;
  mix-blend-mode: screen;
  opacity: .7;
  position: fixed;
  text-shadow: 0 0 10px black;
  transition: opacity 1s;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: static;
  margin: 0;
  padding: 10vh 0;
  width: 100vw;
  height: auto;
  background-color: #222222;
  box-shadow: inset 0 15px 30px rgba(0, 0, 0, 0.5);
  z-index: 5;
}

@media screen and (max-width: 875px) {
  footer {
    padding: 2vh 0;
    width: 100vw;
    height: auto;
  }
}

footer #navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}

footer #navigation .navItem {
  list-style-type: square;
}

footer #navigation .navItem:first-child {
  margin-left: -2.2rem;
  list-style-type: none;
}

footer p, footer h1, footer li {
  color: #666666;
  font-size: 2rem;
}

footer a {
  display: inline-block;
  color: #38A0FF;
  text-decoration: none;
  transition: color 1s;
}

footer a:hover {
  color: #ffffff;
}

footer .socialList {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

footer .socialList .socialItem {
  list-style-type: none;
  background-color: #ffffff;
  width: 6rem;
  height: 6rem;
  border-radius: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

footer .socialList .socialItem svg {
  width: 80%;
  height: 80%;
}

footer #copyright {
  display: flex;
  flex-direction: row;
  flex: space-between;
}

footer #copyright a {
  display: inline-flex;
}

footer .logoCover {
  width: 20rem;
}

footer .logoCover .logoSvg {
  mix-blend-mode: normal;
  justify-self: center;
  width: 100%;
  margin: 2vh 0;
  padding: 0;
  stroke: #444444;
  fill: #444444;
  z-index: 100;
  background: none;
  transform: scale(1);
}
