footer
    #navigation
        ul.navList
            li.navItem
                h1 Projects
            li.navItem
                a(href="index.html") UltimaCraft
            li.navItem
                a(href="better_snow.html" target="_blank") Better Snow
        ul.navList
            li.navItem
                h1 Features
            li.navItem
                a(href="models.html") Models
            li.navItem
                a(href="emissive.html") Emissive
            li.navItem
                a(href="ctm.html") CTM
            li.navItem
                a(href="cit.html") CIT
            li.navItem
                a(href="enhanced_biomes.html") Biomes
        ul.navList
            li.navItem
                h1 Addons
            li.navItem
                a(href="ultimacraft_dark.html") Dark
            li.navItem
                a(href="ultimacraft_pbr.html") PBR
            li.navItem
                a(href="ultimacraft_leaf.html") Leaf
            li.navItem
                a(href="ultimacraft_mobs.html") Mobs
            li.navItem
                a(href="ultimacraft_hr.html") HR
        ul.navList
            li.navItem
                h1 Links
            li.navItem
                a(href="https://www.curseforge.com/minecraft/texture-packs/ultimacraft" target="_blank") CurseForge
            li.navItem
                a(href="https://www.planetminecraft.com/texture-pack/ultimacraft-4486358" target="_blank") MCPlanet
            li.navItem
                a(href="#") GitHub
    +logo()
    #copyright
        p ©2021 UltimaCraft. All rights reserved.
#full_screen_block(style="display:none")
    img#full_screen_img(src='images/Addons.jpg')
    //- svg#closeZoom(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
    //-     title Close
    //-     path(d="M512,84.85,427.15,0,256,171.15,84.85,0,0,84.85,171.15,256,0,427.15,84.85,512,256,340.85,427.15,512,512,427.15,340.85,256Z" transform="translate(0)")
    p#full_screen_text
    h1#help Click here to close