footer
    #navigation
        ul.navList
            li.navItem
                h1 Projects
            li.navItem
                a(href="index.html") UltimaCraft
            li.navItem
                a(href="better_snow.html") Better Snow
        ul.navList
            li.navItem
                h1 Features
            li.navItem
                a(href="models.html") Models
            li.navItem
                a(href="emissive.html") Emissive
            li.navItem
                a(href="ctm.html") CTM
            li.navItem
                a(href="cit.html") CIT
            li.navItem
                a(href="biomes.html") Biomes
        ul.navList
            li.navItem
                h1 Addons
            li.navItem
                a(href="ultimacraft_dark.html") Dark
            li.navItem
                a(href="ultimacraft_pbr.html") PBR
            li.navItem
                a(href="ultimacraft_leaf.html") Leaf
            li.navItem
                a(href="ultimacraft_mobs.html") Mobs
            li.navItem
                a(href="ultimacraft_hr.html") HR
        ul.navList
            li.navItem
                h1 Links
            li.navItem
                a(href="https://www.curseforge.com/minecraft/texture-packs/ultimacraft") CurseForge
            li.navItem
                a(href="https://www.planetminecraft.com/texture-pack/ultimacraft-4486358") MCPlanet
            li.navItem
                a(href="#") GitHub
    +logo()
    #copyright
        p ©2021 UltimaCraft. All rights reserved.
    