include objects/logo.pug
include objects/arrow.pug
include objects/menu.pug
header#header_slider
    #header_slide_block
        ul.slider_box
            li#logo_cover_block
                +logo()
            each item in home.header_slider.img
                li.img_box
                    img(src=item.slide, alt="alt", class='parallax')
        #filter
        #filter_second
    
            //rect#rectangle(fill="blue" mask="url(#logoSvg)")
    #arrow_down_box
        a#arrow_parent(href="#content")
            +arrowDown()
+menu()