doctype
html(lang='en')
    head
        link(rel="shortcut icon" href="images/u_favicon.ico" type="image/x-icon")
        link(rel="stylesheet", href="css/style0.css")
        script(src="libs/jquery.js")
        //- link(rel="stylesheet", href="libs/slick/slick.css")
        //- link(rel="stylesheet", href="libs/slick/slick-theme.css")
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width")
        title UltimaCraft
    body
        block header
            include ../views/modules/header_smaller.pug
        block main


        block scripts

        block footer
            include ../views/modules/footer.pug