mixin logo(link)
    a.logoCover(href=link)
        svg(class="logoSvg" data-name="uc-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1152 448")
            title ultimacraft
            filter(id="dropshadow" height="130%")
                feGaussianBlur(in="SourceAlpha" stdDeviation="5")
                feOffset(dx="0" dy="0" result="offsetblur")
                feComponentTransfer
                    feFuncA(type="linear" slope="0")
                feMerge
                    feMergeNode
                    feMergeNode(in="SourceGraphic")
            polygon(class="logo_element" points="256.5 191.5 256.5 0.5 319.5 0.5 319.5 128.5 383.5 128.5 383.5 191.5 256.5 191.5" filter="url(#dropshadow)")
            path(d="M383,417V545h64v62H321V417h62m1-1H320V608H448V544H384V416Z" transform="translate(-64 -416)")
            polygon(points="384.5 447.5 384.5 415.5 319.5 415.5 319.5 447.5 256.5 447.5 256.5 256.5 447.5 256.5 447.5 351.5 384.5 351.5 384.5 319.5 319.5 319.5 319.5 352.5 383.5 352.5 383.5 384.5 447.5 384.5 447.5 447.5 384.5 447.5" filter="url(#dropshadow)")
            path(d="M511,673v94H449V735H383v34h64v32h64v62H449V831H383v32H321V673H511m1-1H320V864h64V832h64v32h64V800H448V768H384V736h64v32h64V672Z" transform="translate(-64 -416)")
            path(d="M704.5,863.5v-32h-65v32h-63v-191h191v191Zm-65-95h65v-33h-65Z" transform="translate(-64 -416)" filter="url(#dropshadow)")
            path(d="M767,673V863H705V831H639v32H577V673H767M639,769h66V735H639v34m129-97H576V864h64V832h64v32h64V672ZM640,768V736h64v32Z" transform="translate(-64 -416)")
            polygon(points="768.5 447.5 768.5 256.5 895.5 256.5 895.5 319.5 831.5 319.5 831.5 352.5 959.5 352.5 959.5 415.5 831.5 415.5 831.5 447.5 768.5 447.5" filter="url(#dropshadow)")
            path(d="M959,673v62H895v34h128v62H895v32H833V673H959m1-1H832V864h64V832h128V768H896V736h64V672Z" transform="translate(-64 -416)")
            polygon(points="1024.5 447.5 1024.5 319.5 960.5 319.5 960.5 256.5 1151.5 256.5 1151.5 319.5 1087.5 319.5 1087.5 447.5 1024.5 447.5" filter="url(#dropshadow)")
            path(d="M1215,673v62h-64V863h-62V735h-64V673h190m1-1H1024v64h64V864h64V736h64V672Z" transform="translate(-64 -416)")
            polygon(points="448.5 191.5 448.5 63.5 384.5 63.5 384.5 0.5 575.5 0.5 575.5 63.5 511.5 63.5 511.5 191.5 448.5 191.5" filter="url(#dropshadow)")
            path(d="M639,417v62H575V607H513V479H449V417H639m1-1H448v64h64V608h64V480h64V416Z" transform="translate(-64 -416)")
            polygon(points="832.5 191.5 832.5 63.5 767.5 63.5 767.5 191.5 704.5 191.5 704.5 63.5 640.5 63.5 640.5 0.5 895.5 0.5 895.5 191.5 832.5 191.5" filter="url(#dropshadow)")
            path(d="M959,417V607H897V479H831V607H769V479H705V417H959m1-1H704v64h64V608h64V480h64V608h64V416Z" transform="translate(-64 -416)")
            rect(x="576.5" y="96.5" width="63" height="127" filter="url(#dropshadow)")
            path(d="M703,513V639H641V513h62m1-1H640V640h64V512Z" transform="translate(-64 -416)")
            path(d="M1152.5,607.5v-32h-65v32h-63v-191h191v191Zm-65-95h65v-33h-65Z" transform="translate(-64 -416)" filter="url(#dropshadow)")
            path(d="M1215,417V607h-62V575h-66v32h-62V417h190m-128,96h66V479h-66v34m129-97H1024V608h64V576h64v32h64V416Zm-128,96V480h64v32Z" transform="translate(-64 -416)")
            polygon(points="0.5 191.5 0.5 0.5 63.5 0.5 63.5 128.5 128.5 128.5 128.5 0.5 191.5 0.5 191.5 191.5 0.5 191.5" filter="url(#dropshadow)")
            path(d="M255,417V607H65V417h62V545h66V417h62m1-1H192V544H128V416H64V608H256V416Z" transform="translate(-64 -416)")
            polygon(points="0.5 447.5 0.5 256.5 191.5 256.5 191.5 319.5 63.5 319.5 63.5 384.5 191.5 384.5 191.5 447.5 0.5 447.5" filter="url(#dropshadow)")
            path(d="M255,673v62H127v66H255v62H65V673H255m1-1H64V864H256V800H128V736H256V672Z" transform="translate(-64 -416)")