mixin menu()
    header.menuBar
        ul.menu
            li.menuLink
                a(href="index.html") home
            li.menuLink
                p projects
                ul.subMenu
                    li.subMenuLink
                        a(href="index.html") ultimacraft
                    li.subMenuLink
                        a(href="https://www.curseforge.com/minecraft/texture-packs/better-snow") better snow
            li(class='menuLink')
                a(href="about.html") blog
    header.menuBarSecond
        ul.menu
            li.menuLink
                a(href="index.html") home
            li.menuLink
                p projects
                ul.subMenu
                    li.subMenuLink
                        a(href="index.html") ultimacraft
                    li.subMenuLink
                        a(href="https://www.curseforge.com/minecraft/texture-packs/better-snow") better snow
            li.menuLink
                a(href="about.html") blog